services:

  zabbix-agent:
    container_name: zabbix-agent
    image: zabbix/zabbix-agent:alpine-7.0-latest
    restart: always
    ports:
      - "10050:10050"  
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /run/docker.sock:/var/run/docker.sock
    environment:
      ZBX_HOSTNAME: "{{ inventory_hostname }}"
      ZBX_SERVER_HOST: "172.22.3.22"
      ZBX_ENABLEREMOTECOMMANDS: "1"
